<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
      <div  th:fragment="MainContent">
		  <div class="modal fade" id="alert_modal_requestfund" tabindex="-1" role="dialog">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header bg-success" id="alert_header_user">
				        <h5 class="modal-title text-white " id="alert_title_user">승인 완료</h5>
				        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-secondary" data-dismiss="modal">확인</button>
				      </div>
				    </div>
				  </div>
			</div>
		  	<form action="/payout" method="post">
                <span class="container-fluid" id="dataTableContainer" style="display: none;">
                    <div class="card shadow mb-4">
						
                        <div class="card-body">
							<div class="dropdown mb-4">
						  <h1 th:text="${sb}"></h1>
						</div>
                            <div class="table-responsive">
                                <table class="table table-bordered " id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
											<th class="d-none d-lg-table-cell" scope="col-xl">요청일시</th>
                                            <th scope="d-none d-xl-table-cell">이메일</th>
                                            <th scope="col">회원명</th>
                                            <th class="d-none d-xl-table-cell" scope="col-xl">주소</th>
                                            <th  class="d-none d-lg-table-cell" scope="col">요청금액/차감금액(FIL)</th>
                                            <th scope="col-1">상태</th>
                                            <th scope="col" style="width:100px;"</th>
                                          
                                           
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
											<th class="d-none d-lg-table-cell">요청일시</th>
                                            <th>이메일</th>
                                            <th>회원명</th>
                                            <th class="d-none d-lg-table-cell">주소</th>
                                            <th  class="d-none d-lg-table-cell">요청금액/차감금액(FIL)</th>
                                            <th>상태</th>
                                            <th style="width:100px;"></th>
                                            
                                            
                                        </tr>
                                    </tfoot>
                                    <tbody> 
									    <tr th:each="requestFil : ${requestFilList}">
									        <td th:text="${requestFil.request_date}" class="d-none d-lg-table-cell"></td>
									        <td th:utext="${requestFil.user_email}"></td>
									        <td th:utext="${requestFil.user_name}"></td>
									        <td th:text="${requestFil.wallet_address}" id="wallet_address" class="d-none d-xl-table-cell"></td>
									        <td th:text="${requestFil.fil_amount}" class="d-none d-xl-table-cell"></td>
									        <td th:text="${requestFil.status}" id="status" th:style="${requestFil.status == '승인' ? 'color: blue;' : (requestFil.status == '신청' ? 'color: red;' : 'color: black;')}" th:attr="data-wallet-withdrawals-id=${requestFil.wallet_withdrawals_id}"></td>
											<td class="m-1 p-1" style="width:100px;">
											    <button class="btn btn-secondary mr-2 mt-0 mb-0 request-approve" type="button">승인</button>
											    <button class="btn btn-secondary request-decline" type="button">거절</button>
											</td>
									        
									      
									        
									    </tr>
									</tbody>
                                </table>    
                                 
							</div>
                            </div>
                            
                    </div>
                </div>
                </div>
</html>