<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
      <div  th:fragment="MainContent">
		
		  <div class="modal fade" id="payout_detail_list_modal" tabindex="-1" role="dialog">
				  <div class="modal-dialog modal-lg" style="overflow:auto; height:800px;">
					<div class="modal-content">
						<div class="modal-header">
							<h6 class="modal-title">배분 상세 내역</h6>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">×</span>
							</button>
						</div>
						<div class="modal-body">
							<div class="card">
								<div class="card-header">
								</div>								
								<div class="card-block table-responsive">
									<table class="table table-bordered" id="payout_detail_table" width="100%" cellspacing="0">
									<colgroup>
										<col width="40%">
										<col width="20%">
										<col width="30%">
										<col width="10%">					
									</colgroup>
                                    <thead>
                                        <tr>
											<th>이메일</th>
											<th>회원명</th>
											<th>투자상품명</th>
											<th>FIL</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr></tr>
                                    </tbody>
                                </table>         
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
						</div>						
					</div>
				</div>
				  </div>
				  <div class="modal fade" id="payout_update_modal" tabindex="-1" role="dialog">
		  <div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h6 class="modal-title">배분정보 수정</h6>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">×</span>
							</button>
						</div>
						<div class="modal-body">
							<div class="form-group row">
								<label class="col-md-2 form-control-label" style="margin-top:5px;"><b>Fil/TB</b></label>
								<div class="col-md-10">
									<input id="payout_fil_per_tb" class="form-control" type="number">
									<input id="original_fil_per_tb" style="visibility:hidden;">
								</div>									
							</div>						
							<div class="form-group row">
								<label class="col-md-2 form-control-label" style="margin-top:5px;"><b>상태</b></label>
								<div class="col-md-10 mt-2" >
									<label>
										<input type="radio"  name="payout_status" value="정상">
											정상
										</label>
										<label>
										<input type="radio"   name="payout_status" value="취소">
											취소
									</label>
								</div>									
							</div>																											
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
							<button id="payout_update_confirm_btn" type="button" class="btn btn-danger">수정</button>
						</div>
					</div>
				</div>
		</div>
		  <div class="modal fade" id="alert2_modal" tabindex="-1" role="dialog">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header bg-warning">
				        <h5 class="modal-title text-white " id="alert2_title">입력값을 확인해주십시오</h5>
				        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-secondary" data-dismiss="modal">확인</button>
				      </div>
				    </div>
				  </div>
			</div>
			<div class="modal fade" id="session_alert_investment" tabindex="-1" role="dialog">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header bg-warning">
				        <h5 class="modal-title text-white">세션이 종료되었습니다. 다시 로그인 하십시오.</h5>
				        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-secondary" data-dismiss="modal">확인</button>
				      </div>
				    </div>
				  </div>
			</div>
			 <div class="modal fade" id="alert_modal_payout" tabindex="-1" role="dialog">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header bg-success" id="alert_header_payout">
				        <h5 class="modal-title text-white " id="alert_title_payout">제품 등록 성공</h5>
				        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-secondary" data-dismiss="modal">확인</button>
				      </div>
				    </div>
				  </div>
			</div>
                <span class="container-fluid" id="dataTableContainer" style="display: none;">
                    <div class="card shadow mb-2">
						
                        <div class="card-body">
							<div class="dropdown mb-2 mr-3" style="float:left;">
						  <h1 th:text="${sb}"></h1>
						</div>
                            <div class="table-responsive" >
                                <table class="table table-bordered " id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th class="d-none d-lg-table-cell" scope="col-xl">배분날짜</th>
                                            <th scope="col">FIL/TB</th>
                                            <th scope="col">FIL총배분</th>
                                            <th scope="col">지급상품</th>
                                            <th class="d-none d-lg-table-cell" scope="col-xl">상태</th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th class="d-none d-lg-table-cell">배분날짜</th>
                                            <th>FIL/TB</th>
                                            <th>FIL총배분</th>
                                            <th>지급상품</th>
                                            <th class="d-none d-lg-table-cell">상태</th>
                                             <th></th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <tr th:each="tokenPaid : ${tokenPaidVOList}">
                                            <td th:text="${#dates.format(tokenPaid.paid_date, 'yyyy-MM-dd hh:mm:ss')}" class="d-none d-lg-table-cell"></td>
                                            <td id="paid_per_tb_td" th:text="${tokenPaid.fil_paid_per_tb}"></td>
                                            <td th:text="${tokenPaid.total_paid}" class="d-none d-lg-table-cell"></td>
                                            <td th:text="${tokenPaid.payout_category_name}"></td>
                                            <td id="status_td" th:text="${tokenPaid.status}" th:style="${tokenPaid.status == '정상' ? 'color: green;' : 'color: red;'}"></td>
                                            <td class="m-1 p-1"><button class="btn btn-secondary mr-2 mt-0 mb-0 payout_detail" type="button" id="button-addon2" th:value="${tokenPaid.token_paid_id}">상세</button>
                                            <button class="btn btn-secondary mr-2 mt-0 mb-0 payout_update" type="button" id="button-addon2" th:value="${tokenPaid.token_paid_id}">수정</button>
                                            </td>
                                        </tr>
                              
                                    </tbody>
                                </table>    
                                 
							</div>
                            </div>
                            
                    </div> 
                </div>
                </div>
</html>