<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
      <div th:fragment="SideBar">
<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion bg-sidebar-custom" id="accordionSidebar">
		         <img src="/img/filmountain.png" alt="Side Logo" class="img-fluid">
            <hr class="sidebar-divider my-0">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/userManager}">
                   <i><img src="/img/green_cube.png" alt="White Cube"></i>
                    <span>회원관리</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/main}">
                      <i><img src="/img/green_cube.png" alt="White Cube"></i>
                    <span>투자&배분 관리</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/payoutManager}">
                    <i><img src="/img/green_cube.png" alt="White Cube"></i>
                    <span>투자&배분 내역 관리</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/fundRequest}">
                    <i><img src="/img/green_cube.png" alt="White Cube"></i>
                    <span>FIL 송금신청 관리</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/announcements}">
                    <i><img src="/img/green_cube.png" alt="White Cube"></i>
                    <span>공지사항</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/events}">
                    <i><img src="/img/green_cube.png" alt="White Cube"></i>
                    <span>이벤트</span></a>
            </li>          
        </ul>
        </div>
</html>