<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
    <div  th:fragment="MainContent">
		  
		  <span class="container-fluid" id="dataTableContainer" style="display: none;">
                    <div class="card shadow mb-4">
						
                        <div class="card-body">
                            <div class="table-responsive" >
                                <table class="table table-bordered " id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>배분날짜</th>
											<th>투자상품명</th>
											<th>FIL</th>
											<th>상태</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                       <tr th:each="tokenPaidDetail : ${tokenPaidDetailList}">
											<td th:text="${#dates.format(tokenPaidDetail.paid_date, 'yyyy-MM-dd hh:mm:ss')}"></td>
                                            <td th:text="${tokenPaidDetail.investment_category_name}"></td>
                                            <td th:text="${tokenPaidDetail.paid_fil}"></td>
                                            <td th:text="${tokenPaidDetail.status}" th:style="${tokenPaidDetail.status == '정상' ? 'color: green;' : 'color: red;'}" ></td>
										</tr>
                                    </tbody>
                                </table>    
                                 
							</div>
                            </div> 
                    </div>
      </div>
</html>