<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
      <div  th:fragment="MainContent" id="webviewHeight" style="overflow-y: auto; max-height: 500px; overflow-x: hidden;">
           <div class="row" > 
						 <div th:each="investment : ${listInvestment}" class="col-lg-3 col-md-6 mb-4">
					        <div class="card shadow h-100 py-2 announcementEventBodyBtn m-2" style="cursor: pointer; border-radius: 15px;">
                                <div class="card-head">
									<b th:text="${investment.product_name}" class="pl-3 text-xs text-info"></b>
									<p th:text="${#dates.format(investment.purchase_date, 'yyyy-MM-dd')}" class="pl-1 d-inline text-xs"></p>
								</div>
                                <div class="card-body mb-0 pb-0">
                                    <div class="row">
                                        <div class="col mr-2">
                                            <p class="text-secondary text-uppercase mb-1" th:text="${investment.purchase_size} + ' TB :: ' + ${investment.fil_invested} + ' FIL'">
                                                </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col mr-2 text-right" >
                                            <b class="text-xs  text-secondary text-uppercase mb-1" th:text="${investment.cateogry_fil_per_tb} +'%'">
                                                </b>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
					    </div>
                    </div> 
      </div>
</html>